
/*.searchbar-container{*/
/*    margin-top: 15px;*/
/*}*/

/*.searchbar-container-filter{*/
/*    margin-bottom: 10px;*/
/*}*/

/*.searchbar-container-filter i{*/
/*    cursor: pointer;*/
/*}*/

/*.searchbar-container-filter i a{*/
/*    margin-left: 10px;*/
/*    cursor: pointer;*/
/*    font-size: 18px;*/
/*}*/


/*.searchbar-container-filtermenu{*/
/*    display: none;*/
/*    width: 74%;*/
/*    height: 230px;*/
/*    margin-bottom : 10px;*/
/*    background-color: rgb(250, 248, 248);*/
/*    padding:5px;*/
/*    padding-left:20px*/
/*}*/

/*.searchbar-container-filterlist{*/
/*    display: block;*/
/*    float: left;*/
/*    margin-right: 100px;*/
/*    */
/*}*/

/*.searchbar-container-filterlist ul{*/
/*    padding:0;*/
/*    margin-top: 10px;*/
/*}*/

/*.searchbar-container-filterlist li{*/
/*    padding-bottom: 10px;*/
/*}*/


/*.searchbar-container-filterlist li a{*/
/*    color: rgb(66, 65, 65);*/
/*    font-size: 15px;*/
/*}*/

/*.searchbar-container-filterlist h5{*/
/*    margin-top:7px;*/
/*    margin-bottom:8px;*/
/*    font-size: 18px;*/
/*    padding-bottom: 8px;*/
/*    border-bottom : 1px solid rgb(88, 87, 87)*/
/*}*/

/*.search-container{*/
/*    display: block;*/
/*    height: 770px;*/
/*}*/

/*.search-list-head{*/
/*    width: 1200px;*/
/*    border-bottom:1px solid rgb(214, 211, 211);*/
/*}*/

/*video{*/
/*    width: 1200px;*/
/*    */
/*    margin-top: 0;*/
/*}*/

/*.search-list{*/
/*    display: block;*/
/*}*/

/*.search-list-group{*/
/*    padding: 10px 10px 8px 10px;*/
/*    display: block;*/
/*    width: auto;*/
/*    height: 660px;*/
/* */
/*}*/

/*.video-js vjs-default-skin{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    display: inline-block;*/
/*}*/

/*.search-list-group-comment{*/
/*    position: absolute;*/
/*    display: block;*/
/*    margin-left: 320px;*/
/*}*/

/*.search-list-group-comment-videoname{*/
/*    font-size: 20px;*/
/*    margin-bottom:10px;*/
/*}*/

/*.AA{*/
/*    float: left;*/
/*}*/

/*.BBB{*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    float: left;*/
/*    margin-left: 570px;*/
/*    margin-top: 35px;*/
/*}*/

/*.CC{*/
/*    display: block;*/
/*}*/

/*.DD{*/
/*    border-top: 1px solid rgb(214, 211, 211);*/
/*    content: url(../img/경기기록.jpg);*/
/*    background-repeat: no-repeat;*/
/*}*/
body {
    margin: 0;
}

.watch-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.contents-container {
    width: 1072px;
    margin-left: 10rem;
}

.toggle-btn i {
    margin-right: 0.25rem;
}

.toggle-btn span {
    font-weight: bold;
}

.toggle-menu {
    display: none;
    background: #f8f9fa;
}

.toggle-menu {
    display: none;
    width: 77%;
    height: 230px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(250, 248, 248);
    padding: 5px;
    padding-left: 20px;
}

.toggle-menu-list {
    margin-right: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.toggle-menu-list ul {
    padding: 0;
    margin-top: 10px;
    list-style: none;
}

.toggle-menu-list li {
    padding-bottom: 10px;
    text-decoration: none;
}

.toggle-menu-list li a {
    color: rgb(66, 65, 65);
    font-size: 15px;
}

.toggle-menu-list h5 {
    margin-top: 7px;
    margin-bottom: 8px;
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(88, 87, 87);
}

.video-container {
    /* display: flex;
    flex-direction: column; */
    width: 89%;
}

.video-contents {
    margin-top: 0.5rem;
    font-weight: bold;
}

.video-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 89%;
}

.video-desc p {
    margin-left: 1rem;
    font-size: 0.75rem;
}

.btn-group {
    display: flex;
}

.btn-group i {
    margin-right: 1.25rem;
    font-weight: bold;
}

.play-record-container {
    margin-top: 1rem;
    border: 1px solid red;
}

.record-header {
    font-weight: bold;
}

/*.example_video_1-dimensions{*/
/*    width : 100%;*/
/*    height: auto;*/
/*}*/