<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>POTG</title>
    <link rel="stylesheet" , href="/CSS/index.css" />
    <link rel="stylesheet" href="/CSS/calendar.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"/>

    <script src="/JS/jquery-3.4.1.min.js"></script>

    <!--Load HTML Files-->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#headers").load("headers.html");
            $("#leftSidebar").load("leftSidebar.html");
        });
    </script>
</head>

<body>
<div id="headers"></div>
<div class="contents">
    <div id="leftSidebar"></div>
    <div class="main-contents-container">
        <div class="main-contents">
            <!-- ------------------Calendar-------------------------------- -->
            <div class="calendar-container"
                style = "border-bottom : 1px solid #e9ecef;"
            >
                <div class="calendar-header">
                    <h3>오늘 경기 일정/결과</h3>
                    <a href="/gameList">전체 경기 일정/결과</a>
                </div>
                <div class="content-today_calendar">
                    <!--Naver sport_nba crawling-->
                    <div class="sch_volleyball tb_nba">
                        <div class="sch_tb ">
                            <div th:if="${gameSize.toString()} == '2'"
                                 style = "margin-bottom : 1rem;"
                            >
                                <span> 금일 경기가 없습니다. </span>
                            </div>

                            <div th:unless="${gameSize.toString()} == '2'">
                                <table cellspacing="0" border="1">
                                    <colgroup>
                                        <col width="100" />
                                        <col width="55" />
                                        <col width="430" />
                                        <col width="166" />
                                        <col width="280" />
                                    </colgroup>
                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th>
                                            날짜
                                        </th>
                                        <th>
                                            시간
                                        </th>
                                        <th>
                                            경기
                                        </th>
                                        <th>
                                            영상
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td th:rowspan="${gameSize}">
                                            <span class="td_date" th:text="${todayGame.date}"></span>
                                        </td>
                                    </tr>
                                    <div th:each="game : ${todayGame.gameList}">
                                        <tr>
                                            <td><span class="td_hour" th:text="${game.time}"></span></td>
                                            <td><span class="team_lft" th:text="${game.leftTeam}"></span>
                                                <strong class="td_score" th:text="${game.score}"></strong>
                                                <span class="team_rgt" th:text="${game.rightTeam}"></span>
                                            </td>
                                            <td>
                                            <span class="td_btn">
                                                <a th:href="@{/member/watch(year=${currentYear}, date=${todayGame.date}, leftTeam=${game.leftTeam}, rightTeam=${game.rightTeam})}">
                                                    <img width="61" height="23" alt="경기영상" src="https://imgsports.pstatic.net/images/section/volleyball/css/btn_vod_off.gif">
                                                </a>
                                            </span>
                                            </td>
                                            <td><span class="td_stadium" th:text="${game.stadium}"></span>
                                            </td>
                                        </tr>
                                    </div>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--END Naver sport_nba crawling-->
                </div>
            </div>
            <!-- ------------------/Calendar-------------------------------- -->

            <div class="video-container">
                <div class="video-header">
                    <h3>인기영상</h3>
                </div>

                <div class="video-groups">
                    <div th:each="videoName : ${mostLikeVideoName}" class="video-group">
                        <video controls>
                            <source th:src="@{'http://' + ${hostIp} + '/' + ${videoName}}" type="video/mp4"/>
                        </video>
                        <p class="video-group-videotext">
                            <a th:text="${videoName}" th:href="@{/member/watch(videoName=${videoName})}">video name </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-container">
                <div class="video-header">
                    <h3>최신영상</h3>
                </div>

                <div class="video-groups">
                    <div th:each="videoName : ${latestVideoName}"  class="video-group">
                        <video controls>
                            <source th:src="@{'http://' + ${hostIp} + '/' + ${videoName}}" type="video/mp4">
                        </video>
                        <p class="video-group-videotext">
                            <a th:text="${videoName}" th:href="@{/member/watch(videoName=${videoName})}">video name </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="newvideo-container"></div>
        </div>
    </div>
</div>
</body>
</html>
